<li>
    <ul>
	<li>From: <%= link_to ride.user.name, ride.user %></li>
	<li>To: <%= ride.service.church.name %></li>
	<li>Service: <%= ride.service.location %> @ <%= ride.service.start_time %></li>
	<li>Date: <%= ride.date %>
	<li><%= link_to 'Ride details', ride %></li>
    </ul>
</li>
